---
layout: page
---
<style type="text/css">
    header.intro-header{
        background-position: right;
    }
</style>
<!-- Chinese Version -->
<div class="zh post-container">
    <%- page.content %>
</div>

<% if(config['duoshuo_username']) { %>

<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
        data-thread-key="<%= page.path %>"
        data-title="<%= page.title %>"
        data-url="<%= page.permalink %>" >
    </div>
</div>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User by Hux
    var _user = '<%= config['duoshuo_username'] %>';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>

<!-- 多说公共JS代码 end -->
<% } %>

<!-- Gitment评论插件通用代码 -->
<% if(config['gitment']) { %>
  
  <div id="container"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  var gitment = new Gitment({
    owner: '<%= config['gitment_username'] %>',//github用户名
    repo: '<%= config['gitment_repo'] %>',//用户存储评论的github项目名称
    oauth: {
      client_id: '<%= config['gitment_client_id'] %>',//注册OAuth Application时生产的ClinetID
      client_secret:'<%= config['gitment_client_secret'] %>',//注册OAuth Application时生成的Client Secret
    },
  })
  gitment.render('container')
  </script>

<% } %>
<!-- Gitment代码结束 -->
